<!DOCTYPE html>
<html lang="en">
<head>
  {{-- Meta Information --}}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name=viewport content="width=device-width, initial-scale=1">

  {{-- Title --}}
<title>Adonis - {{title}}</title>

  {{-- CSS --}}
  {{ style('bulma') }}
  {{ style('global') }}
</head>
  <body>

    @include('partials.navbar')

    <section class="section">
      <div class="container">
          @!section('content')
      </div>
    </section>

    {{-- Scripts --}}
    {{ script('/app.js') }}
  </body>
</html>
